*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
  
}
header div{
    margin: 2px 10px;
}
.oringin{
    font-size: 3rem;
}
#navbar{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    
}
.nav-link{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.abt{
    display: flex;
    color: white;
   
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 100px;
    text-align: center;
}
body{
    background-color: skyblue;
}
.color{
    width:100%;
}
.cardi{
    border-radius:0 25px 0 25px;
    flex-direction: column;
    width: 25%;
   justify-content: center;
   align-items: center;
    text-align: center;
    border-color: black;
    display: flex;
    background-color: black;
    color: white;
 flex-wrap: wrap;
    height: 50px;
    width: 310px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    width: 1000px;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/3f/00/4f/3f004fbd0825ffbd4b9b11656a38f451.gif);
    background-size: cover;

    width: 90%;
    border-radius: 25px;
    padding: 30px;
    margin: 10px auto;
}
.cont{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    flex-wrap: nowrap;
  
}
.cont2{

    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    background-color: skyblue;
}

.cont3{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    background-image: url();
}
.conta{
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/d6/d1/e0/d6d1e0bbdd2eda8f44a2125154670e82.gif);
}
#navbar{
    display: block;
   background-color: skyblue;
}
footer{
    background-color: black;
    color: white;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 80px;
}
.c{
padding-right: 175px;
}
.a{
    padding-right: 175px;
}
.b{
    padding-right: 175px;
}
.i{
    padding-right: 175px;
    width: 100px;
    height: 20px;
}
.calm{
    width: 150px;
    
}
.btn-group{
    width: 800px;
    padding-right: 500px;
}